body {
  font-family: "Poppins";
  background-color: whitesmoke;
}

.container {
  border-radius: 16px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.135);
  width: auto;
  padding: 32px;
  background-color: white;
  margin: auto 19px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
